body {
    color: #40514E  ;
    margin: 0;
    text-align: center;
    font-family: 'merriweather',sans-serif ;
}
h1 {
    color: #66BFBF;
    font-size: 5.625rem ;
    margin: 50px auto 0 auto ;
    font-family: 'sacramento',cursive;


}
h2{
    color: #66BFBF;
    font-size: 'montserrat', serif;
    font-size: 2.5rem;
    font-weight: normal;



}
h3{
    color: #11999E;
    font font-family:'montserrat', serif ;
}
.top-container {
    background-color: #E4F9F5;
    position: relative ;
    bottom: 50px;
    padding-top: 50px;

}
.middile-container{

    margin: 100px 0 ;
}
.bottom-container {
    background-color: #66BFBF;
    padding: 4%

}
.skill-row{
    width: 50%;
    margin: 5px auto 50px auto ;
    text-align: left;
    line-height: 2;
}
.pro {
    text-decoration: underline;
}
.top-cloud{
    position: absolute;
    right: 110px;
    top: 80px;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.thirdcloud{
    position: absolute;
    right: 150px;
    bottom: 100px;
}
.intro{
    width: 40%;
    margin: auto;
    font-size: 125%;
    font-display: bold;padding-bottom: 2%;
}
p{
    line-height: 2;
}
hr{
    border: dotted #b1b8b8 6px;
    border-bottom: none;
    width: 4%;
}
.below-heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 150%;
    color:#66BFBF ;
    font-family:  cursive;
}
.contact-me{
    width: 40%;
    margin: 40px auto 60px;


}
.last{
    padding: 4%;
}
.btn {
    
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #11cdd4 2px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
a{
    margin: 10px 20px ;
    text-decoration: none;
                         
}
a:hover{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0 ;
}
.copyright{
    color: #EAF6F6;

    

}
.bulb{
    position: absolute;
    top: 170%;
    left: 55%;
    right: 40%;
}
.computer{
    position: absolute;
    top: 207%;
    left: 55%;
    
}
.my-skills{
    padding: none;
    margin: none;
}
.skills{
    padding: 2%;
}











